@keyframes panning {
  0% {
    background-position: 70% 70%;
  }
  25% {
    background-position: 40% 60%;
  }
   50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 70% 70%;
  }
  200% {
    background-position: 0 0;
  }
}

h1 {
  margin:0;
}

body {
  font-family: sans-serif;
}

.__trainers-menu-bar {
  position: relative;
  margin-left:0;
  margin-right:0;
  width: 100%;
}

.__trainercard {
  position: relative;
}

.navigationMenu {
  margin-left:30px;
}

.navItem {
  text-align:center;
  vertical-align:middle;
  margin-top:-160px;
  margin-right:20px;
  height:37px;
  color:white;
  display:inline-block;
  cursor:pointer;
  width:auto;
  font-weight:bold;
  padding-top:-5px;
  padding:10px;
  font-size:120%;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
}

.navItem:hover {
  background:rgba(255,255,255,0.3);
}

#header {
  background: url('/image/workoutbg.jpg');
  background-size:cover;
  width:100%;
  height:200px;
  animation: panning 20s infinite linear;
  margin:0;
}

#logo {
  background: rgba(255,255,255,0);
  height:114px;
  padding-top:30px;
  padding-left:30px;
  margin-left:8px;
}

#startButton {
  float:right;
  vertical-align:middle;
  height:32px;
  margin-right:40px;
  margin-top:44px;
  width:170px;
  border:none;
  background:#f5f5f5;
  font-weight:bold;
  color:3e4d63;
  border-radius:5px;
  box-shadow:0px 4px #1a283c;
}

#mapBox {
  height:250px;
  width:300px;
  border-color:red;
}
