
/* Code for animated header */
@keyframes panning {
  0% {
    background-position: 70% 70%;
  }
  25% {
    background-position: 40% 60%;
  }
   50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 70% 70%;
  }
  200% {
    background-position: 0 0;
  }
}


a, a:hover {
  color: white;
  text-decoration:none;
}

h1 {
  margin:0;
}

body {
  padding:0;
  font-family: sans-serif;
}

/* For the home page slider */
.slider-holder {
  width: 1000px;
  height: 400px;
  background:url(https://i.imgur.com/Ev11XHG.png);
  background-color:black;
  background-position:center;
  background-repeat:no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  overflow: hidden;
  margin-bottom:100px;
  box-shadow: 7px 7px 2px #d5d5d5;
}

.image-holder {
  width: 100%;
  background-color: #d9e0e4;
  height: 400px;
  clear: both;
  position: relative;
  float:center;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slider-image {
  float: center;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#slider-image-1:target ~ .image-holder {
  left: 0px;
}

#slider-image-2:target ~ .image-holder {
  left: -1000px;
}

#slider-image-3:target ~ .image-holder {
  left: -2000px;
}

.button-holder {
  position: relative;
  top: -20px;
}

.slider-change {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 5px;
  background-color: white;
  margin-right:25px;
  margin-bottom:20px;
}

.__trainers-menu-bar {
  position: relative;
  margin-left:0;
  margin-right:0;
  width: 100%;
}

.__trainercard {
  position: relative;
}

.navigationMenu {
  margin-left:30px;
}

.navItem {
  text-align:center;
  vertical-align:middle;
  margin-top:-160px;
  margin-right:20px;
  height:37px;
  color:white;
  display:inline-block;
  cursor:pointer;
  width:auto;
  font-weight:bold;
  padding-top:-5px;
  padding:10px;
  font-size:120%;
}

.navItem:hover {
  background:rgba(255,255,255,1);
  color:black;
}

#header {
  background: url('/image/workoutbg.jpg');
  background-size:cover;
  width:100%;
  height:200px;
  animation: panning 20s infinite linear;
  margin:0;
}

#logo {
  background: rgba(255,255,255,0);
  height:114px;
  padding-top:30px;
  padding-left:30px;
  margin-left:8px;
}

#startButton {
  float:right;
  vertical-align:middle;
  height:32px;
  margin-right:40px;
  margin-top:44px;
  width:170px;
  border:none;
  background:#f5f5f5;
  font-weight:bold;
  color:3e4d63;
  border-radius:5px;
  box-shadow:0px 4px #1a283c;
}

#mapBox {
  height:250px;
  width:300px;
  border-color:red;
}
